$font-stack: Trebuchet MS, Arial, sans-serif;
$light-color: #d40040;
$primary-color: #f8609f;
$secondary-color: #afff9b;
//in this file we are defining our reusable variables and putting them in, 
//a central location for easy